@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@if (TempData["Msg"] != null)
{
    <span class="alert alert-success">@TempData["Msg"]</span>
    
}
<br>
<h2>Index of Dashboard</h2>

@foreach (var Student in ViewBag.Data)
{
    <li>@Student.Name</li>;
    <li>@Student.Id</li>;
}